* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
textarea {
  outline: none;
  resize: none;
}

.notes-list {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin: 0;
}

.app-header {
  display: flex;
  justify-content: space-evenly;
  font-family: 'Righteous', sans-serif;
}

.app-header__title {
  margin: 10px 20px 0px;
  color: #020205;
}

.app-header__controls {
  display: flex;
  align-items: center;
  margin: 10px 0 0 10px;
}

.search,
.add-new {
  font-size: 14px;
  font-family: Righteous, sans-serif;
  padding: 5px;
  margin: 8px;
}

.search {
  flex-grow: 1;
  max-width: 300px;
  background-color: #FFDFD3;
}

.add-new {
  border-radius: 5px;
  cursor: pointer;
  padding: 8px;
  font-weight: bolder;
  background-color: #F5317A;
  outline: none;
}

.note {
  width: 200px;
  height: 200px;
  margin: 10px;
  background-color: #FFDFD3;
  border: 1px solid #FFDFD3;
  box-shadow: 2px 1px 2px 2px #F5317A	;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.note__title,
.note__description {
  width: 100%;
  padding: 8px 14px;
  background: transparent;
  border: none;
}

.note__title {
  font-size: 1rem;
  font-weight: bold;
  font-family: "Righteous", sans-serif;
  text-transform: uppercase;
}

.note__description {
  flex-grow: 1;
  font-size: 1.1rem;
  font-family: "Josefin Sans", sans-serif;
}

.note__delete {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 20px;
  color: gray;
  padding: 5px;
  font-family: "Righteous", sans-serif;
  text-transform: lowercase;
  margin-right: .5rem;
}

.note__delete:hover {
  color: #020205;
  cursor: pointer;
}